apiVersion: v1
kind: Service
metadata:
  name: "{{ app_name }}-svc"
  namespace: "{{ namespace }}"
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
spec:
  type: LoadBalancer
  selector:
    app: "{{ app_name }}"
  ports:
    - protocol: TCP
      port: {{ service_port }}
      targetPort: {{ container_port }}
